# Android built artifacts
*.apk
*.ap_
*.aab
*.dex
*.class
*.iml
*.hprof
*.prof

# Gradle files
.gradle/
build/
*/build/
local.properties

# IDE files
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.vscode/
*.swp
*.swo
*~

# vscode
.vscode-test/
.github/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# NDK
.cxx/

# Logs
*.log

# Environment files
.env

# Keystore & signing (security sensitive)
*.jks
*.keystore
*.key

# Fastlane
fastlane/

# Android Studio capture files
captures/
gen-external-apk/
*.hprof
